<h1>Your Frat's Events</h1>

<% if current_brother.is_admin %>
  <ul>
    <%= link_to 'Create New Event', new_event_path %> 
  </ul>
<% end %>

<% if @events.length > 0 %>
  <table class ="table">
    <tr>
    </tr>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to "#{event.name}", event_path(event) %></td>
        <td><%= event.date %></td>
      </tr>

    <% end %>
  </table>
<% else %>
  <p>Your frat doesn't have any events.</p>
<% end %>
