// Place all the styles related to the rushees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.rushees {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.rushee-outer {
	position: relative;
	height: 200px;
	width: 200px;
	float: left;
	border-radius: 1px;
	padding: 10px;
	margin: 10px;
	border: solid 1px #DDD;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px 0px;
	z-index: 0;
}

.rushee-hover.hideable {
	text-align: center;
	position: absolute;
	height: 180px;
	width: 180px;
	color: black;
	background-color: black;
	opacity: 0;
	transition:opacity .15s linear;
	z-index: 1;
  	/*transition: visibility 0.5s;*/
}

/*The div overlay for the rushees pictures*/
.rushee-hover:hover {
	opacity: 0.5;
}

.overlay-btn {
	color: white;
	z-index: 2;
	transition: opacity .15s linear;
	&:hover {
		opacity: 0.5;
	}

}

.btn-true {
	color: green;
}

li img {
	position: absolute;
	height: 180px;
	width: 180px;
	border: 1px solid #C9CCD3;
	padding: 0px;
	border-radius: 1px;
	overflow: hidden;
}

.rushee-name {
	font-size: 40px;
	margin-top: 0px;
	margin-bottom: 5px;
	color: white;
	transition: color .15s linear;
	&:hover {
		color: gray;
	}
}

a:hover {
	text-decoration: none;
}

h4.status {
	color: gray;
	font-size: 14px;
	margin-top: 0px;
	margin-bottom: 0px;
}

#bid_status {
	margin-top: 5px;
}

#picture-holder {
	margin-top: 5px;
	width: 350px;
	height: 350px;
	text-align: center;
	line-height: 300px;
	background-color: gray;
}

#picture-holder2 {
	margin-top: 5px;
	width: 350px;
	height: 350px;
	text-align: center;
	line-height: 300px;
}

img#slideImage.resize{
    width:40%;
    height: auto;
}
.rushee-main {
	width: 900px;
}
.rushee-section {
	display: block;
}

.rushee-section#left {
	float: left;

}
.rushee-section#right {
	float: right;
}

.card {
	width: 500px;
	border: black solid 1px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 14px;
}

.card-header {
	width: 100%;
	background-color: #F5F7F8;
}

.card-body {
	padding: 10px;
}

p.rushee-label {
	color: gray;
}

p.rushee-info {
	color: black;
}

.card-text {
	/*font-size: 12px;*/
}

#presentationScreen {
  background-color: black;
}

#presentationTable {
  width: 100%;
  vertical-align: top;
  box-sizing: border-box;
}

td#exitCell {
  text-align: right;
}

td#pictureCell,#picture-holder {
  margin: auto;
}

td#informationCell {
  font-size: 1.25em;
  color: yellow;
  width: 50%;
}

#lastSlide, #nextSlide, #exitCell {
  font-size: 2em;
}

tr#slideNavRow {
  text-align: center;
  vertical-align: middle;
  height: 10%;
}

tr#mainSlideRow {
  height: 80%;
}

#slideName {
  font-size: 2em;
}
