<ul class="rushees">
    <% @rushees.each do |rushee| %>
      <li>
        <div class="rushee-outer">
          <%= link_to image_tag(rushee.picture.url(:medium)), rushee_path(rushee), class: "rushee-image" %>
          <div class="rushee-hover hideable">
            <p class="rushee-name"><%= "#{rushee.firstname} #{rushee.lastname}" %></p>
          </div>
        </div>
      </li>
    <% end %>
</ul>
