<ul class="rushees">
    <% @rushees.each do |rushee| %>
      <li>
        <div class="rushee-outer">
          <%= image_tag(rushee.picture.url(:medium), class: "rushee-image") %>
          <%= link_to rushee_path(rushee) do %>
            <div class="rushee-hover hideable">
              <p class="rushee-name"><%= "#{rushee.firstname} #{rushee.lastname}" %></p>
              <i class="fa fa-check fa-2x overlay-btn"></i>
              <i class="fa fa-arrow-up fa-2x overlay-btn"></i>
            </div>
          <% end %>
        </div>
      </li>
    <% end %>
</ul>
