<h1 class="rushee_name"><%= "#{@rushee.firstname} #{@rushee.lastname}" %></h1>
<h4 class="status"><%= "Action Status: #{@rushee.action_status}"  %></h4>
<h4 class="status" id="bid_status"><%= "Bid Status: #{@rushee.bid_status}" %></h4>
<div id="picture-holder">
	<p>Profile Picture</p>
</div>