<h1><%= @brother.fraternity.name %> Brother Account Details</h1>
<h3><%= @brother.firstname + " " + @brother.lastname %> (<%= @brother.email %>)</h3>
<%= if @brother.rushees.length > 0 %>
<p>Primary Contact For:</p>
<% end %>
